---
import GridPerson from "./GridPerson.astro";
const { index, member, name, description } = Astro.props;
---

<div class="team" id={`team-${index}`}>
	<h2 class="text-reveal-title">{name}</h2>
	<p class="text text-reveal-paragraph">{description}</p>

	<div class="person-group">
		{
			member.map((person: { name: string; position: string; avatar_url: string; link?: string; description?: string; mode?: string; color?: string }) => (
				<GridPerson
					team={name}
					name={person.name}
					position={person.position}
					avatar_url={person.avatar_url}
					link={person.link}
					description={person.description}
					mode={person.mode}
					color={person.color}
				/>
			))
		}
	</div>
</div>

<style>
	.team {
		margin-bottom: 3rem;
	}

	h2 {
		margin-bottom: 1.5rem;
	}

	.text {
		max-width: 34rem;
		margin-bottom: 2rem;
	}

	.person-group {
		display: flex;
		flex-wrap: wrap;
		justify-content: start;
		gap: 2.5rem;
	}

	@media (max-width: 640px) {
		.person-group {
			justify-content: center;
			gap: 1.5rem;
		}
	}
</style>
